<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    <input type="text" id="nomor"/>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io()
        socket.on(
            document.getElementById("nomor").value || "man",
            ($) => {
                $ = JSON.parse($)
                console.log($)

            }
        )
    </script>
</body>
</html>